<form class="container-fluid">
    <div class="row ">
        <div class="col-3">
            <label for="title">Title : </label>
            <input type="text" name="title" id="title">
        </div>
        <div class="col-2">
            <label for="author">Author : </label>
            <input type="text" name="author" id="author">
        </div>

        <div class="col-12">
            <label for="content">Tell us your story:</label>
            <textarea rows="5" cols="100" type="text" name="content" id="content"></textarea>
        </div>
        <button>Post</button>
        <a href="{{ path('home') }}">Back to List</a>

    </div>
</form>