<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Post by id</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div class="container-fluid">
        <a href="{{ path('home') }}">Back to List</a>

        <h1>{{ post.title }}</h1>

        <p>{{ post.postDate }}</p>
        <p>{{ post.content }}</p>
        <p>{{ post.author }}</p>
        <a href="{{ path('deletepost', { id: post.id }) }}">Delete post</a>
        <a href="{{ path('addpost', { id: post.id }) }}">Modify post</a>
    </div>
</body>

</html>