<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Posts</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container-fluid">
      <h1>Post list</h1>
      <div class="row">
        {% for post in post %}
        <div class="col-3 mb-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">Author: {{ post.author }}.</p>
              <p class="card-text">Post Date: {{ post.postDate }}.</p>
              <a href="{{ path('id', { id: post.id }) }}" class="card-link"
                >Show post</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <a href="{{ path('addpost') }}">Add Post</a>
  </body>
</html>
